<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Banner tools</title>
</head>
<body>
	<div id="app">
		loading...
	</div>
	<script type="text/javascript">
		var window.APP_CONFIGS = <%- JSON.stringify(APP_CONFIGS) %>;
	</script>
	<script src="<%= CDN_ASSET %>/js/main.js"></script>
</body>
</html>